body {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
  }
  .header-banner {
    background-color: #ffffff;
    color: #000000;
    padding: 20px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    width: 100%;
  }
  .form-container {
    background-color: #26f0ad;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 30px;
    max-width: 400px;
    height: 520px; 
    margin: 200px auto 50px;
    position: relative;
    z-index: 2;
  }
  .form-container .form-group label {
    font-weight: bold;
  }
  .form-container .input-group-prepend span {
    font-size: 18px;
    color: #999999;
    padding: 10px;
  }
  .form-container .btn-primary {
    background-color: #ffc107;
    border-color: #ffc107;
  }
  .form-container .btn-primary:hover {
    background-color: #ffca2b;
    border-color: #ffca2b;
  }
  .user-icon {
    font-size: 60px;
    color: thistle;
    opacity: 0.9;
    margin-bottom: 10px;
  }
  .olpast{
    color: inherit;
    text-decoration: none;
  }
  .button-box {
    width: 100%;
    margin: 35px auto;
    position: relative;
    border-radius: 30px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
  }
  
  .toggle-btn {
    flex: 1;
    padding: 10px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    text-align: center;
  
}
  
  
  #btn {
    left: 0;
    top: 0;
    position: absolute;
    width: 50%;
    height: 100%;
    background: lightblue;
    border-radius: 30px;
    transition: .5s;
  }
  @media (max-width: 576px) {
    .form-container {
      width: 90%;
      margin: 100px auto 50px;
    }
  }