body{
  font-family: sans-serif;
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #35fa8e;
  height: 70%;
  padding: 10px;
}

.car-icon {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.right-icons a {
  margin-left: 10px;
}

.right-icons a img {
  width: 35px;
  height: 35px;
}

.right-icons a:last-child img {
  width: 40px;
  height: 40px;
}


.notification {
  display: flex;
  align-items: center;
  background-color: #f1f1f1;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
}

.notification .icon {
  font-size: 24px;
  margin-right: 10px;
}

.notification h3 {
  margin: 0;
}

.notification p {
  margin: 5px 0;
}

.notification.news {
  background-color: #eaf6ff;
  color: #0066cc;
}

.notification.alert {
  background-color: #ffe6e6;
  color: #ff0000;
}